#settings {
    display: flex;
    margin: auto;
}

#display {
    margin: auto;
    height: 300px;
    width: 400px;
}

.difficultySettings {
    display: flex;
    text-indent: 10px;
}

#difficulty {
    height: 300px;
    width: 300px;
}

#other {
    margin: auto;
    height: 300px;
    width: 400px;
}